<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/main.css' }}">
    <title>Preview X</title>
</head>

<body>

    {{{ yield }}}

    <script src="{{ path '/main.js' }}"></script>
</body>

</html>